@model ReservationViewModel

@{
    ViewData["Title"] = "Dodawanie rezerwacje";
}

<div class="container-fluid registrationWrapper clearfix">
    <div class="registrationContent">
        <div class="registrationHeader">
            <h1>Rezerwacja</h1>
            <br>
            <p>Nowa rezerwacja</p>
        </div>
        <!--registrationHeader-->
        <br>
        <div asp-validation-summary="ModelOnly"></div>
        <form method="post" enctype="multipart/form-data" asp-antiforgery="true" class="reservation-form">
            <div class="row inputWrapper ">
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-bars"></i>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Nazwa *">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--Price for night-->
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-dollar"></i>
                        <input asp-for="Price" type="number" class="form-control" placeholder="Cena *">
                        <span asp-validation-for="Price"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--Guests Number-->
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-user"></i>
                        <input asp-for="Guests" type="number" class="form-control" placeholder="Liczba gości *">
                        <span asp-validation-for="Guests"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--Deposit-->
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-hand-o-left"></i>
                        <input asp-for="Deposit" type="number" class="form-control" placeholder="Zaliczka *">
                        <span asp-validation-for="Deposit"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--Start Date-->
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-calendar"></i>
                        <input asp-for="StartDate" type="date" class="form-control" value="Rozpoczęcie *">
                        <span asp-validation-for="StartDate"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--End Date-->
                <div class="col-md-6">
                    <div class="left-inner-addon ">
                        <i class="fa fa-calendar"></i>
                        <input asp-for="EndDate" type="date" class="form-control" value="Zakończenie *">
                        <span asp-validation-for="EndDate"></span>
                    </div>
                    <br>
                    <br>
                </div>
                <!--Description-->
                <div class="col-md-12 ">
                    <div class="left-inner-addon ">
                        <i class="fa fa-bars"></i>
                        <input asp-for="Description" type="text" class="form-control" placeholder="Informacje/Opis">
                        <span asp-validation-for="Description"></span>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="registrationButtonPlaseholder">
                <button type="submit" class="btn btn-info btn-df float-button-light">Stwórz</button>
            </div>
            <!--registrationButtonPlaseholder-->
        </form>
    </div>
    <!--registrationContent-->
</div>
<!--registrationWrapper-->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="lib/waves/waves.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
		Waves.attach('.float-button-light', ['waves-button', 'waves-float', 'waves-light']);
		Waves.init();
</script>



<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>New Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Support Tickets!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly"></div>
                        <form method="post" enctype="multipart/form-data" asp-antiforgery="true" class="reservation-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Nazwa Pokoju...." tabindex="1">
                                        <span asp-validation-for="Name"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="Description" type="text" class="form-control" placeholder="Opis...." tabindex="2">
                                        <span asp-validation-for="Description"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="Price" type="text" class="form-control" placeholder="Cena za dobę...." tabindex="2">
                                        <span asp-validation-for="Price"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="Guests" type="text" class="form-control" placeholder="Ilość gości...." tabindex="2">
                                        <span asp-validation-for="Guests"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="Deposit" type="text" class="form-control" placeholder="Zadatek...." tabindex="2">
                                        <span asp-validation-for="Deposit"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="StartDate" type="date" class="form-control" placeholder="Od...." tabindex="2">
                                        <span asp-validation-for="StartDate"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <input asp-for="EndDate" type="date" class="form-control" placeholder="Do...." tabindex="2">
                                        <span asp-validation-for="EndDate"></span>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-xl btn-dark btn-block" name="r_submit" value="Dodaj Hotel">
                            <div id="r_result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                        <div class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="badge">just now</span>
                                <i class="fa fa-fw fa-calendar"></i> Calendar updated
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">4 minutes ago</span>
                                <i class="fa fa-fw fa-comment"></i> Commented on a post
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">23 minutes ago</span>
                                <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">46 minutes ago</span>
                                <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">1 hour ago</span>
                                <i class="fa fa-fw fa-user"></i> A new user has been added
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">2 hours ago</span>
                                <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">yesterday</span>
                                <i class="fa fa-fw fa-globe"></i> Saved the world
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">two days ago</span>
                                <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                            </a>
                        </div>
                        <div class="text-right">
                            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Order #</th>
                                        <th>Order Date</th>
                                        <th>Order Time</th>
                                        <th>Amount (USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>3326</td>
                                        <td>10/21/2013</td>
                                        <td>3:29 PM</td>
                                        <td>$321.33</td>
                                    </tr>
                                    <tr>
                                        <td>3325</td>
                                        <td>10/21/2013</td>
                                        <td>3:20 PM</td>
                                        <td>$234.34</td>
                                    </tr>
                                    <tr>
                                        <td>3324</td>
                                        <td>10/21/2013</td>
                                        <td>3:03 PM</td>
                                        <td>$724.17</td>
                                    </tr>
                                    <tr>
                                        <td>3323</td>
                                        <td>10/21/2013</td>
                                        <td>3:00 PM</td>
                                        <td>$23.71</td>
                                    </tr>
                                    <tr>
                                        <td>3322</td>
                                        <td>10/21/2013</td>
                                        <td>2:49 PM</td>
                                        <td>$8345.23</td>
                                    </tr>
                                    <tr>
                                        <td>3321</td>
                                        <td>10/21/2013</td>
                                        <td>2:23 PM</td>
                                        <td>$245.12</td>
                                    </tr>
                                    <tr>
                                        <td>3320</td>
                                        <td>10/21/2013</td>
                                        <td>2:15 PM</td>
                                        <td>$5663.54</td>
                                    </tr>
                                    <tr>
                                        <td>3319</td>
                                        <td>10/21/2013</td>
                                        <td>2:13 PM</td>
                                        <td>$943.45</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
