body {
	overflow-y: hidden;
}

.preloaderFix {
	overflow-x: hidden !important;
	overflow-y: visible !important;
}


/* PRELOADER */

.preloader .la-ball-pulse {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -54px;
}

.la-ball-pulse,
.la-ball-pulse > div {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.la-ball-pulse {
	display: block;
	font-size: 0;
	color: #fff;
}

.la-ball-pulse.la-dark {
	color: #333;
}

.la-ball-pulse > div {
	display: inline-block;
	float: none;
	background-color: currentColor;
	border: 0 solid currentColor;
}

.la-ball-pulse {
	width: 54px;
	height: 18px;
}

.la-ball-pulse > div:nth-child(1) {
	-webkit-animation-delay: -200ms;
	-moz-animation-delay: -200ms;
	-o-animation-delay: -200ms;
	animation-delay: -200ms;
}

.la-ball-pulse > div:nth-child(2) {
	-webkit-animation-delay: -100ms;
	-moz-animation-delay: -100ms;
	-o-animation-delay: -100ms;
	animation-delay: -100ms;
}

.la-ball-pulse > div:nth-child(3) {
	-webkit-animation-delay: 0ms;
	-moz-animation-delay: 0ms;
	-o-animation-delay: 0ms;
	animation-delay: 0ms;
}

.la-ball-pulse > div {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 100%;
	-webkit-animation: ball-pulse 1s ease infinite;
	-moz-animation: ball-pulse 1s ease infinite;
	-o-animation: ball-pulse 1s ease infinite;
	animation: ball-pulse 1s ease infinite;
}

.la-ball-pulse.la-sm {
	width: 26px;
	height: 8px;
}

.la-ball-pulse.la-sm > div {
	width: 4px;
	height: 4px;
	margin: 2px;
}

.la-ball-pulse.la-2x {
	width: 108px;
	height: 36px;
}

.la-ball-pulse.la-2x > div {
	width: 20px;
	height: 20px;
	margin: 8px;
}

.la-ball-pulse.la-3x {
	width: 162px;
	height: 54px;
}

.la-ball-pulse.la-3x > div {
	width: 30px;
	height: 30px;
	margin: 12px;
}


/*  Animation  */

@-webkit-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
		transform: scale(.01);
	}
}

@-moz-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-moz-transform: scale(.01);
		transform: scale(.01);
	}
}

@-o-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-o-transform: scale(.01);
		transform: scale(.01);
	}
}

@keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
		-moz-transform: scale(.01);
		-o-transform: scale(.01);
		transform: scale(.01);
	}
}


/*  SCROLLER  */

#mainWrapper {
	height: -webkit-calc(100% - 60px);
	height: calc(100% - 60px);
}

#mailboxContent {
	height: 300px;
}

.mCSB_inside > .mCSB_container {
	margin-right: 0px !important;
}

.mainWrapper {
	padding-top: 60px;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}


/*  NAVBAR  */

.button {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding-top: 13px;
	transition: all 500ms cubic-bezier(1.000, 0.000, 0.645, 0.650);
	.sr {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
	.menu-bar {
		display: block;
		position: relative;
		background: #fff;
		width: 26px;
		height: 2px;
		border-radius: 1px;
		transition: all 300ms;
		margin: 0 auto;
	}
	&.bar1 {
		top: 0;
		animation: topbar-back 500ms;
		animation-fill-mode: both;
		animation-play-state: initial !important;
	}
	&.bar2 {
		opacity: 1;
	}
	&.bar3 {
		bottom: 0;
		animation: bottombar-back 500ms;
		animation-fill-mode: both;
		animation-play-state: initial !important;
	}
}

.menu-bar + .menu-bar {
	margin-top: 5px;
}

.toggled .bar1 {
	top: 25%;
	animation: topbar-x 500ms;
	animation-fill-mode: both;
}

.toggled .bar2 {
	opacity: 0;
}

.toggled .bar3 {
	bottom: 25%;
	animation: bottombar-x 500ms;
	animation-fill-mode: both;
}

@keyframes topbar-x {
	0% {
		top: 0;
		-webkit-transform: rotate(0deg);
	}
	45% {
		top: 25%;
		-webkit-transform: rotate(145deg);
	}
	75% {
		-webkit-transform: rotate(130deg);
	}
	100% {
		-webkit-transform: rotate(135deg);
	}
}

@keyframes topbar-back {
	0% {
		top: 25%;
		-webkit-transform: rotate(135deg);
	}
	45% {
		-webkit-transform: rotate(-10deg);
	}
	75% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		top: 0;
		-webkit-transform: rotate(0);
	}
}

@keyframes bottombar-x {
	0% {
		bottom: 0;
		-webkit-transform: rotate(0deg);
	}
	45% {
		bottom: 25%;
		-webkit-transform: rotate(-145deg);
	}
	75% {
		-webkit-transform: rotate(-130deg);
	}
	100% {
		-webkit-transform: rotate(-135deg);
	}
}

@keyframes bottombar-back {
	0% {
		bottom: 25%;
		-webkit-transform: rotate(-135deg);
	}
	45% {
		-webkit-transform: rotate(10deg);
	}
	75% {
		-webkit-transform: rotate(-5deg);
	}
	100% {
		bottom: 0;
		-webkit-transform: rotate(0);
	}
}

.nawbarWrapper {
	padding: 20px;
	border: $mainBorder;
	@include mainAngel;
}

.nawbarMainLeft {
	float: left;
}

.nawbarMainRight {
	float: right;
}

.mainLogo {
	float: left;
	margin: -5px 0 0 0;
	height: 56px;
	width: 56px;
	background-image: url(../../img/logo.png);
	@media (max-width: 1023px) {
		display: none;
	}
}

.headerLogo {
	float: left;
	color: $mainColorWhite;
	margin-left: 5px;
	font-size: 21px;
	line-height: 46px;
	font-weight: 400;
	text-transform: uppercase;
	@media (max-width: 1023px) {
		display: none;
	}
	a,
	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

.nawbarMainButtonWrapper {
	float: left;
	margin-left: 5px;
	@media (min-width: 1024px) {
		display: none !important;
	}
	@media (max-width: 768px) {
		margin-left: 0px;
	}
}

.nawbarMainLogo {
	display: block;
	font-size: $largeTextSize;
	font-weight: bold;
	float: left;
	line-height: 40px;
	margin: 0 10px;
}

.nawbarMainLogoCenter {
	display: block;
	font-size: $largeTextSize;
	font-weight: bold;
	float: left;
	line-height: 40px;
	width: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}

.nawbarMainMenu {
	padding: 1px 0 0 0;
	margin-bottom: 0px !important;
	@media screen and (max-width: 640px) {
		display: none;
	}
	ul {
		margin-bottom: 0px !important;
	}
	li {
		display: inline-block;
		padding: 0 5px;
	}
	a {
		font-size: $mainTextSize;
		text-decoration: none;
		width: 40px;
		height: 40px;
		text-align: center;
		position: relative;
		color: $mainColorWhite;
		margin: 0 15px;
		cursor: pointer;
		cursor: hand;
		.badge {
			position: absolute;
			left: 27px;
		}
	}
	i {
		font-size: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
}

.nawbarMainMenuSmallLeft {
	display: none;
	width: 40px;
	text-align: center;
	@media screen and (max-width: 640px) {
		display: block;
	}
	.fa-ellipsis-v {
		width: 40px;
	}
	i {
		font-size: 24px;
		margin-top: 10px;
		margin-right: 10px;
		color: $mainColorWhite;
	}
	ul {
		margin-left: -154px;
		padding-bottom: 20px;
	}
	li > a {
		color: $mainColorDark !important;
		position: relative;
		.badge {
			position: absolute;
			right: 23px;
			top: 6px;
			font-size: 9px;
		}
	}
}

.headerMenuIconIndigo i {
	font-size: 16px;
	margin-right: 10px;
	color: #787878 !important;
}

.nawbarMainMenuSmallRight {
	display: none;
	@media screen and (max-width: 640px) {
		display: block;
	}
	i {
		font-size: 24px;
	}
	ul {
		margin-left: -50px;
	}
}

.nawbarMainMenuSmalDropdownButton {
	margin: 0;
	.btn {
		margin: 0;
		padding: 0;
		&:hover {
			color: $mainColorWhite !important;
		}
		&:active {
			color: $mainColorWhite !important;
			box-shadow: none;
		}
	}
	ul {
		top: 35px;
		margin-left: -90px;
	}
	a {
		color: $mainColorDark !important;
		height: 45px;
	}
}

.searchWrapper {
	background-color: aqua;
	input {
		width: 100%;
		position: relative;
		border: none;
		height: 60px;
		background-color: #ecf0f1;
		@include mainShadow;
		padding-left: 70px;
		&:focus {
			border: none !important;
			-moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
			box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
		}
	}
	button {
		position: absolute;
		top: 15px;
		left: 10px;
		z-index: 5;
		background-color: transparent;
		i {
			font-size: 20px;
			color: $mainColorDark;
		}
		&:focus {
			outline: none;
		}
		&:active {
			box-shadow: none;
		}
	}
}

#sideBarWrapper {
	height: 100%;
	margin: 0px auto;
}

#sideBarContent {
	height: 100%;
	position: fixed;
	z-index: 80;
}

.sideBar {
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
	background-color: #2c353a;
	z-index: 1;
	position: absolute;
	width: 240px;
	height: 100%;
	transition: .35s;
	margin-left: 0;
}

body.noSidebar .sideBar,
body.bodySmall .sideBar {
	margin-left: -240px;
	-moz-box-shadow: 0 0 15px 0 #959595;
	-webkit-box-shadow: 0 0 15px 0 #959595;
	box-shadow: 0 0 15px 0 #959595;
}

body.mobileSidebar .sideBar {
	margin-left: 0 !important;
	z-index: 1;
}

body.noSidebar .mainConteiner,
body.bodySmall .mainConteiner {
	margin-left: 0;
}

.mainConteiner {
	margin-left: 240px;
	height: auto;
	transition: .35s;
	@media (max-width: 768px) {
		transition: none;
	}
}

.mainConteinerConten {
	height: auto;
	overflow: hidden;
}

.thirdTheme {
	background-color: $mainColorCyan;
}


/* HEADER  */

.headerWrapper {
	height: 65px;
}

.nawbarMain {
	padding: 10px 10px 10px 5px;
	width: 100%;
	height: 35px;
	position: relative;
	z-index: 10;
}

.timeWrapper {
	height: 80px;
	width: 240px;
	position: absolute;
	bottom: 60px;
	border-bottom: 1px solid transparent;
	text-align: center;
	background-color: #232b2e !important;
	i {
		font-size: 50px;
	}
}

.menuTime {
	font-size: $largeTextSize;
	font-weight: normal;
	text-transform: uppercase;
}

.menuTime2 {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'robotolight', sans-serif;
	padding-top: 6px;
}

.sideBarWeatherWrapper {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid $mainColorWhite;
	ul {
		list-style-type: none;
		padding: 0;
	}
}

.weatherIconMain {
	display: block;
	font-size: 80px;
	margin-top: -10px;
}


/* LATEST ACTIVITY */

.show {
	right: 0px !important;
	transition: .35s;
}

.latestActivity {
	display: block;
	height: auto;
	width: 350px;
	background-color: $mainColorWhite;
	color: $mainColorDark !important;
	position: absolute;
	right: -400px;
	top: 0px;
	z-index: 999 !important;
	@include mainShadow;
	@media (max-width: 765px) {
		width: 255px;
	}
}

.latestActivityHeader {
	height: 66px;
	@include mainBoxHeader;
	font-size: $middleTextSize;
	margin-bottom: 30px;
	i {
		padding: 10px;
	}
	.mainIcon i {
		font-size: 35px !important;
		padding: 15px 35px;
		@media (max-width: 480px) {
			padding: 15px 25px;
		}
	}
	.mainContent {
		position: absolute;
		top: 25px;
	}
}

.latestActivityAntWrapper {
	height: auto;
	width: 350px;
	padding: 0px 0 0 40px;
	@media (max-width: 765px) {
		width: 255px;
	}
}

#latestActivityContent {
	height: 300px;
}

.latestActivityAntContent {
	width: 310px;
	@media (max-width: 765px) {
		width: 200px;
	}
}

.latestActivityAntContentHeader {
	font-size: $mainTextSize;
	height: 16px;
	font-weight: 500;
}

.point {
	display: block;
	float: left;
	margin-top: 3px;
	margin-right: 15px;
	width: 10px;
	height: 10px;
	background-color: $mainColorCyan;
}

.latestActivityAntContentText {
	width: 305px;
	margin: 0 15px 0 5px;
	padding: 10px 20px 0 20px;
	;
	border-left: 1px solid $mainColorCyan;
	height: auto;
	@media (max-width: 765px) {
		width: 200px;
	}
}

.latestActivityAntContentTextHeader {
	font-size: $mainTextSize;
	color: $mainColorCyan;
	text-transform: uppercase;
}

.latestActivityButton {
	background-color: $mainColorPink;
	color: $mainColorWhite;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 0 !important;
	width: 150px;
	margin: 45px 0 30px 40px;
}


/*  COMMENTS */

.mailboxShow {
	height: auto;
	width: 350px;
	background-color: $mainColorWhite;
	padding: 0 0 5px 0;
	position: absolute;
	right: -400px;
	top: 0px;
	z-index: 999 !important;
	@include mainShadow;
	@media (max-width: 765px) {
		width: 255px;
	}
}

.mailboxHeader {
	height: 66px;
	@include mainBoxHeader;
	font-size: $middleTextSize;
	i {
		padding: 10px;
	}
	.mainIcon i {
		font-size: 35px !important;
		padding: 15px 35px;
		@media (max-width: 480px) {
			padding: 15px 25px;
		}
	}
	.mainContent {
		position: absolute;
		top: 25px;
	}
}


/* REMINDER */

.reminderShow {
	width: 350px;
	background-color: $mainColorWhite;
	background-image: url(../../img/alarm.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: -400px;
	top: 0px;
	z-index: 999 !important;
	@include mainShadow;
	@media (max-width: 765px) {
		width: 255px;
	}
}

.reminderHeader {
	height: 30px;
	@include mainBoxHeader;
	font-size: $middleTextSize;
	i {
		padding: 10px;
	}
	.mainIcon i {
		font-size: 35px !important;
		padding: 15px 35px;
		@media (max-width: 480px) {
			padding: 15px 25px;
		}
	}
	.mainContent {
		position: absolute;
		top: 25px;
	}
}

.carouselWrapper {
	padding: 10px;
	.carouselContent {
		height: 300px!important;
		text-align: center;
		padding-top: 170px !important;
	}
	.carousel-control {
		background-image: none;
	}
}


/* MENU */

#menuContent {
	background-color: #2c353a;
	z-index: 9999 !important;
	width: 240px;
}

.sidebar-nav {
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		position: relative;
		display: block;
		ul a {
			font-size: $mainTextSize;
			padding-left: 56px;
			background-color: #232b2e;
		}
		&.active a {
			.glyphicon,
			.glyphicon,
			.arrow {
				color: $mainColorWhite;
			}
			&:hover {
				background: #202529;
				color: $mainColorWhite;
			}
		}
	}
	.glyphicon {
		font-size: $middleTextSize;
		margin-right: 20px;
	}
	a {
		text-decoration: none;
		font-size: 16px;
		color: $mainColorWhite;
		position: relative;
		padding: 12px 15px;
		display: inline-block;
		width: 100%;
		&:hover {
			background: #202529;
			color: $mainColorWhite;
			.glyphicon,
			.arrow {
				color: $mainColorWhite;
			}
		}
		&:focus {
			outline: none;
		}
	}
	.badge {
		border-radius: 0;
	}
	.arrow {
		font-size: $middleTextSize;
		margin-right: 15px;
	}
}

.actual {
	background-color: #202529!important;
}


/* SIDEBAR  */

.sideBarUserMini {
	display: none;
	height: 50px;
	width: 240px;
	margin-top: 25px;
	background-image: url(../img/userBg.jpg);
	background-color: $mainColorCyan;
}

.sideBarUserConteiner {
	height: 100px;
	width: 240px;
}

.sideBarUserConteinerImg {
	float: left;
	height: 50px;
	width: 80px;
	text-align: center;
	margin-right: 30px;
	font-size: 40px;
	line-height: 40px;
}

img.userimg {
	border-radius: 50%;
	margin: -19px 10px 10px;
	height: 80px;
	border: 7px solid rgba(255, 255, 255, 0.41);
	box-shadow: 0px 0px 0px 8px rgba(188, 240, 236, 0.11);
}

.sideBarUserConteinerText {
	float: left;
	height: 50px;
	width: 120px;
	text-align: left;
}

.userInfo {
	font-size: 14px;
	line-height: 20px;
	color: $mainColorWhite !important;
	a {
		color: $mainColorWhite !important;
	}
}

.sideBarSearch {
	float: left;
	height: 50px;
	width: 80px;
	text-align: center;
	margin-right: 30px;
	font-size: 40px;
	line-height: 40px;
}

.sideBarSearchMini {
	display: none;
	height: 55px;
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

input.search-query {
	padding-left: 26px;
	border: thin solid $mainColorTheme;
	background-color: $mainColorWhite;
}

form.form-search {
	position: relative;
	color: $mainColorTheme;
}


/*  MAINCONTEINER  */

.firstRow {
	background-color: $mainColorWhite;
	margin-bottom: 10px;
	border-bottom: $mainBorder;
}

.firstRowHeader {
	padding-top: 5px;
	@media (max-width: 765px) {
		text-align: center;
		line-height: 50px;
	}
}

.miniDiagramsConteiner {
	padding-top: 15px;
	height: 80px;
	width: 260px;
	float: right;
}

.miniDiagramsContent {
	float: left;
	height: 80px;
	width: 115px;
	margin-left: 10px;
}

.miniDiagramsContentHeader {
	height: 20px;
	padding-bottom: 5px;
	width: 115px;
	font-size: 14px;
	line-height: 15px;
	color: $mainColorDark;
	text-align: left;
	font-weight: 300;
}

.miniDiagramsContentContent {
	height: 30px;
	width: 115px;
}

.jqstooltip {
	text-align: center;
	min-height: 25px;
	min-width: 65px;
}

.breadcrumb {
	background-color: transparent;
	height: 30px;
	margin: 0;
	padding: 0;
	@media (max-width: 765px) {
		display: none;
	}
	li a {
		font-size: $mainTextSize;
		color: $mainColorTheme;
		line-height: 40px;
	}
	.active {
		font-size: $middleTextSize;
		color: $mainColorDark;
	}
}

.breadcrumb>li+li:before {
	color: $mainColorTheme;
	vertical-align: middle;
	font-size: 25px;
	content: "\2022";
}

@media (max-width: 1200px) {
	.mapConteinerFooter {
		text-align: center;
	}
	.marker i,
	.address {
		width: 100%;
		float: none;
	}
	.mapbutton {
		float: none !important;
		margin-top: 10px;
	}
}


/* Footer */

.fotterWrapper {
	width: 100%;
	height: 80px;
	padding: 35px 0 0 35px;
	background-color: $mainColorWhite;
	border-top: $mainBorder;
	color: #878787;
	@media (max-width: 765px) {
		padding: 35px 0 0 0;
		text-align: center;
	}
}

.todayClose {
	display: none;
}

@media (max-width: 765px) {
	.headerLogoText {
		display: none;
	}
	.headerTime {
		display: none;
	}
	.miniDiagramsConteiner {
		float: none;
		margin: 0 auto;
		float: none;
	}
	.firstRowHeader {
		padding-left: 0;
		text-align: center;
	}
}


/* RED COLOR */

.preloader {
	background: $colorRed;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}

#header {
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 99;
	background-color: $colorRed;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.myColor {
	background-color: $colorRed;
	border: 2px solid white;
	border-radius: 50%;
}

.sideBarUser {
	height: 100px;
	width: 240px;
	padding-top: 30px;
	//background-image: url(../../img/userBg.jpg);
	background-repeat: no-repeat;
	background-color: lighten($colorRed, 10%) !important;
}

.hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 2px;
	background-color: darken($colorRed, 10%) !important;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.breadcrumb li a {
	font-size: 14px;
	color: $colorRed;
	line-height: 40px;
}

.breadcrumb > li + li:before {
	color: $colorRed;
	vertical-align: middle;
	font-size: 25px;
	content: "\2022";
}

.sb-icon-search {
	color: #fff;
	background: $colorRed !important;
	z-index: 90;
	font-size: 16px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background-color: darken($colorRed, 10%) !important;
	color: #fff;
	z-index: 11;
}

.sidebar-nav a {
	text-decoration: none;
	font-size: 16px;
	color: $colorRed;
	position: relative;
	padding: 12px 15px;
	display: inline-block;
	width: 100%;
}

.active span.sidebar-nav-item {
	color: $mainColorWhite;
}